<app-sidebar></app-sidebar>
<h2 class="centralizar mt-4">Consultar Pacientes</h2>
<div class="posicao mt-4">
  <table>
    <thead>
      <tr>
        <th class="ps-3">ID</th>
        <th>Nome</th>
        <th>Detalhes</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let paciente of data" class="border">
        <td class="ps-3">{{ paciente.id }}</td>
        <td>{{ paciente.name }}</td>
        <td><button class="btn" (click)="verDetalhes(paciente)"><img src="assets/loupe.png"></button></td>
      </tr>
    </tbody>
  </table>
</div>