<app-sidebar></app-sidebar>
<div class="display">
  <h1 class="titulo">Estoque de vacinas</h1>
  <div class="posicao mt-4">
    <table>
      <thead>
        <tr>
          <th class="ps-3">ID</th>
          <th>Marca</th>
          <th>Detalhes</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vacina of data" class="border">
          <td class="ps-3">{{ vacina.id }}</td>
          <td>{{ vacina.nameVaccine }}</td>
          <td><button class="btn" (click)=verDetalhes(vacina)><img src="assets/loupe.png"></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>