<app-sidebar></app-sidebar>
<div class="display">
  <h1 class="titulo">Estoque de vacinas</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Marca</th>
      <th scope="col">Quantidade</th>
      <th scope="col">Consultar</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let country of countries; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ country.marca }}</td>
      <td>{{ country.quantidade | number }}</td>
      <td><a href="consultar-vacinas"><img src="assets/loupe.png" alt="" class="ms-4"></a></td>
    </tr>
    </tbody>
  </table>
</div>