<app-sidebar></app-sidebar>
<div class="fill-blank">
  <h3 class="titulo">Bem-Vindo</h3>
  <div>
    <h4 class="centralizar-texto mt-4">Escolha qual tela quer ser encaminhado utilizando os cards ou o menu </h4>
  </div>
  <div class="container">
    <div class="row largura posicao">
      <div class="card text-center col">
        <div class="card-body">
          <h5 class="card-title">Estoque</h5>
          <p class="card-text">Acesso a tela de estoque de vacinas.</p>
          <a href="/estoque" class="botao btn btn-primary">Ir</a>
        </div>
      </div>
    </div>
    <div class="row largura posicao">
      <div class="card text-center col">
        <div class="card-body">
          <h5 class="card-title">Cadastro de paciente</h5>
          <p class="card-text">Acesso a tela de cadastro de pacientes.</p>
          <a href="/cadastro-paciente" class=" botao btn btn-primary">Ir</a>
        </div>
      </div>
    </div>
    <div class="row largura posicao">
      <div class="card text-center col">
        <div class="card-body">
          <h5 class="card-title">Cadastro de funcionário</h5>
          <p class="card-text">Acesso a tela de cadastro de funcionários.</p>
          <a href="/cadastro-paciente" class=" botao btn btn-primary">Ir</a>
        </div>
      </div>
    </div>
    <div class="row largura posicao">
      <div class="card text-center col">
        <div class="card-body">
          <h5 class="card-title">Enviar comunicados</h5>
          <p class="card-text">Acesso a tela de envio de comunicados.</p>
          <a href="/twitter" class=" botao btn btn-primary">Ir</a>
      </div>  
    </div>
  </div>
</div>