.titulo {
  padding-left: 320px;
  padding-top: 10px
}

.botao {
  width: 100px;
}

.card-margin {
  margin: 0 40px;
}

.largura {
  width: 40%;
}

.posicao {
  margin: 50px auto;
}

.centralizar-texto {
  text-align: center;
  padding-right: 200px;
  margin-left: 150px;
}