<app-sidebar></app-sidebar>
<h2 class="centralizar mt-4">Dados vacinação</h2>
<div class="d-flex justify-content-center">
  <div class="">
    <form>
    <div class="mb-3">
      <label for="" class="form-label mt-3 negrito" email="true">Marca da vacina:</label>
      <p class="mb-4">Coronavac</p>
      <label for="" class="form-label negrito">Data da vacinação :</label>
      <p class="mb-4">26/05/2020</p>
      <label for="" class="form-label negrito">Nome do aplicador :</label>
      <p class="mb-4">Yan Eduardo</p>  
    </div>
    <button type="submit" (click)="redirecionar()" class="btn btn-primary">Voltar</button>
    </form>
  </div>
</div>